@font-face {
	font-family: 'MulaSlim';
	font-weight: 100;
	src: url('/MulaSlim-Thin.otf') format('truetype'),
}
@font-face {
	font-family: 'MulaSlim';
	font-weight: 200;
	src: url('/MulaSlim-SemiLight.otf') format('truetype'),
}
@font-face {
	font-family: 'MulaSlim';
	font-weight: 300;
	src: url('/MulaSlim-Light.otf') format('truetype'),
}
@font-face {
	font-family: 'MulaSlim';
	font-weight: 400;
	src: url('/MulaSlim-Regular.otf') format('truetype'),
}
@font-face {
	font-family: 'MulaSlim';
	font-weight: 500;
	src: url('/MulaSlim-Medium.otf') format('truetype'),
}